body{
    background-color: #FDF5CA;
}
.table1{
    background-color: #90AACB;
    width:100%; 
    text-align: center
    
}
.pad:hover:hover{
    background-color: #FFB085;

}
.all{
background-color: #F2BB7B;
}
.all:hover{
    background-color: #FFDFAF;
}